In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
data = pd.read_csv("VN_exam_2018_same.csv")
data

      Diem KhoiThi
0    15.20   KhoiA
1    14.55   KhoiA
2    20.95   KhoiA
3    13.55   KhoiA
4    18.20   KhoiA
..     ...     ...
556  16.90   KhoiA
557  17.60   KhoiA
558  15.95   KhoiA
559  25.45   KhoiA
560  17.40   KhoiA

[561 rows x 2 columns]

In [3]:
# Bởi vì chúng ta vừa xử lý dữ liệu để phù hợp hàm leveneTest trong R nên bây giờ cần nhóm các điểm theo khối thi là A B C
groups = data.groupby("KhoiThi")['Diem'].apply(list)
groups

KhoiThi
KhoiA     [15.2, 14.55, 20.95, 13.55, 18.2, 18.8, 22.0, ...
KhoiA1    [15.15, 21.05, 19.75, 13.5, 18.45, 15.55, 15.1...
KhoiD     [15.05, 10.1, 14.4, 16.45, 13.8, 13.0, 9.6, 14...
Name: Diem, dtype: object

In [4]:
f_value, p_value = stats.f_oneway(*groups)
print(f"P value = {p_value}")
if p_value > 0.05:
    print("Không có sự khác nhau về phương sai của 3 tổng thể, đủ điều kiện để kiểm định ANOVA")
else:
    print("Có sự khác nhau về phương sai của 3 tổng thể, không đủ điều kiện để kiểm định ANOVA")

P value = 1.1553592870531756e-10
Có sự khác nhau về phương sai của 3 tổng thể, không đủ điều kiện để kiểm định ANOVA

In [5]:
f, p = stats.levene(*groups)
print(f, p)

5.186448254865889 0.005864541735395194